<%- include('partials/header'); -%>

<div class="container-fluid">
    <h1>Compose</h1>

    <div class="post-info">
        <form action="/compose" method="post">
            <label class="form-label label-header" for="title">Title</label>
            <input class="form-control form-control-lg <%= invalidClass %>" type="text" name="title" id="title" value="<%= duplicateTitle %>" aria-describedby="<%= ariaDescribe %>" autocomplete="off" autofocus required>
            <!-- If the invalid class is added, this will render. -->
            <div class="invalid-feedback" id="invalidFeedback">
                Post title already exists.
            </div>
            <label class="form-label label-header" for="post-text">Post</label>
            <textarea class="form-control textarea-input" name="text" id="post-text" rows="5" required><%= enteredText %></textarea>

            <button class="btn btn-primary btn-lg submit-btn" type="submit">Publish</button>
        </form>
    </div>
    
</div>

<%- include('partials/footer'); -%>