<%- include('partials/header'); -%>

    <div class="container-fluid">
        <h1>Home</h1>
        <%- include ('partials/home-desc'); -%>

        <!-- Posts -->
        <section id="posts">
            <% for (let i = 0; i < posts.length; i++) { %>
                <div class="post">
                    <div class="post-header">
                        <h3 class="post-title"> <%= posts[i].title %></h3>
                        <form action="/edit" method="post" class="link-form">
                            <button class="btn-link" type="submit"><i class="far fa-edit edit-icon"></i></button>
                            <input type="hidden" name="post_id" value="<%= posts[i].id %>">
                        </form>
                        <form action="/delete" method="post" class="link-form-delete">
                            <button class="btn-link" type="submit"><i class="fas fa-trash trash-icon"></i></button>
                            <input type="hidden" name="post_id" value="<%= posts[i].id %>">
                            <input type="hidden" name="post_url" value="<%= posts[i].postURL %>">
                        </form>
                    </div>
                    <p class="post-text"> <%= posts[i].cutText %> </p>
                    <% if (posts[i].cutText.length >= 100) { %>
                        <a href="<%= posts[i].postURL %>">Read More</a>
                    <% } %>
                </div>
            <% } %>
        </section>
    </div>

    

<%- include('partials/footer'); -%>